.software-product-show {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: 1px solid #E55436;
    padding: 66px 42px;
    
    width: 100%;
    height: 100%;
    z-index: 25;
    img {
      max-width: 100%;
    }
}

.software {
  
  &-main {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }

  .background {
    display: grid;
    place-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 170px;
    right: 0;
    bottom: 0;
    img {
      opacity: 0.3;
      width: 100%;
    }
  }

  &-list {
    padding-right: 175px;
    display: grid;
    grid-template-columns: 1fr 1fr 0.59fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  &-item {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    border: 1px solid $darkLighter;
    padding: 66px 42px;

    &:nth-child(2) {
      z-index: 20;
    }

    span {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 50%;
      @include transform(translate(-50%,-50%));
      background-color: $darkColor;
      padding: 0 16px;
      color: rgba(255, 255, 255, 0.8);
      z-index: 40;

      &::after {
        content: '°';
        position: absolute;
        top: 0;
        left: -1px;
        color: $darkLighter;
        font-size: 23px;
      }

      &::before {
        content: '°';
        position: absolute;
        top: 0;
        right: -1px;
        color: $darkLighter;
        font-size: 23px;
      }
    }

    &:nth-child(1) span {
      right: 0;
      left: unset;
      @include transform(translate(50%,-50%));
    }

    h2 {
      color: $NeutralWhite;
      white-space: nowrap;
      @include transition(color .5s ease-in-out);
    }

    &.no-hover h2{
      color: $darkLighter
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:nth-child(2) {
      grid-row: 1/3;
      grid-column: 2/3;
    }
  }

  &-bg-icon {
    position: absolute;
    &.icon-1 {
      top: 167px;
      left: 36px
    }

    &.icon-2 {
      right: 398px;
      top: 0;
    }
  }

  .logo {
    padding-top: 40px;
    padding-left: 64px;
    padding-bottom: 24px;
    display: flex;
    align-items: center;
    gap: 27.64px;
    &-heading {
      color: $primaryColor;
      text-transform: uppercase;
    }
  }
}

@include mediaQueryMax($screenLarge - 1) {
  .software {
    &-item {
      padding: 36px 23px;
      
      h2 {
        font-size: 32px;
      }
    }
  }
}

@media screen and (max-height: 699px) {
  .software-product-show {
    padding: 36px 23px;
  }

  .software {
    &-item {
      padding: 36px 23px;
      
      h2 {
        font-size: 32px;
      }
    }
  }
}