.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @include mediaQueryMax($screenMedium) {
    background: linear-gradient(90deg, #ff7f50 42.19%, #ff4e50 100%);
  }

  @include mediaQueryMin($screenMedium) {
    flex-wrap: nowrap;
    height: 60px;
  }

  &__logo {
    height: 60px;
    cursor: pointer;
    line-height: 0;
    display: flex;
    align-items: center;

    img {
      height: 40px;
    }
  }

  &__toggler {
    position: relative;
    width: 24px;
    height: 24px;
    cursor: pointer;

    @include mediaQueryMin($screenMedium) {
      display: none;
    }

    .icon-bar {
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      background-color: $NeutralWhite;
      transition: all 0.2s;

      &:nth-child(1) {
        top: 5px;
      }

      &:nth-child(2) {
        top: 11px;
      }

      &:nth-child(3) {
        top: 11px;
      }

      &:nth-child(4) {
        top: 17px;
      }
    }

    &.show {
      .icon-bar {
        &:nth-child(1),
        &:nth-child(4) {
          opacity: 0;
        }

        &:nth-child(2) {
          transform: rotate(45deg);
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
        }
      }
    }
  }

  &__collapse {
    max-height: 0;
    overflow: hidden;
    align-items: center;
    flex-basis: 100%;
    transition: max-height 0.2s;

    &.show {
      max-height: 200px;
    }

    @include mediaQueryMin($screenMedium) {
      display: flex;
      flex-basis: initial;
      height: 100%;
      max-height: none !important;
      padding-bottom: 0 !important;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    margin: 8px 0 0;
    padding: 0;
    list-style: none;

    @include mediaQueryMin($screenMedium) {
      margin: 0;
      flex-direction: row;
      height: 100%;
    }

    li {
      &:not(:first-child) {
        margin-top: 8px;

        @include mediaQueryMin($screenMedium) {
          margin-top: 0px;
        }
      }
    }

    a {
      height: 100%;
      min-width: 64px;
      font-size: 14px;
      font-weight: 600;
      line-height: 24px;
      padding: 8px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $NeutralWhite;
      cursor: pointer;
      transition: all 0.2s;
      text-decoration: none;

      &.active,
      &:hover {
        background-color: $NeutralWhite;
        color: $primaryColor;
      }

      @include mediaQueryMin($screenMedium) {
        padding: 0 8px;
      }
    }
  }

  &__search {
    line-height: 0;
    text-align: center;
    padding: 8px 0;
    margin: 8px 0;
    cursor: pointer;

    @include mediaQueryMin($screenMedium) {
      padding: 0;
      margin: 0 0 0 16px;
    }
  }

  &__fake {
    height: 60px;
  }

  &__wrap {
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, #ff7f50 42.19%, #ff4e50 100%);
    z-index: 1000;

    /* Show header when scroll */
    &.show {
      opacity: 1;
    }

    /* Hide header when scroll */
    &.hide {
      opacity: 0;
      position: relative;
      top: 0;
      width: 100%;
    }

    /* Sticky header when scroll */
    &.sticky {
      opacity: 1;
      position: fixed;
      top: 0;
      width: 100%;
      background: $NeutralWhite;
    }

    /* Reverse color and background of header when scroll up */
    &.reverse .header {
      background: $NeutralWhite;
    }

    &.reverse a {
      color: $primaryColor;
    }

    &.reverse svg path {
      fill: $Gray64;
    }

    &.reverse .header__logo svg path {
      fill: $primaryColor;
    }

    &.reverse .icon-bar {
      background: $primaryColor;
    }

    &.reverse .header__nav a {
      color: $Gray64;
    }

    &.reverse .header__nav a.active,
    &.reverse .header__nav a:hover {
      color: $primaryColor;
    }
  }
}

/* Slide down in animation */
.slide-down-in.reverse {
  @include animation(slide-down-in 0.3s linear);
}

/* Slide up out animation */
.slide-up-out.reverse {
  @include animation(slide-up-out 0.3s linear);
}
