.title-counter {
  color: $content-tertiary;

  span {
    &:nth-child(1) {
      @include typo(28px, 600, 44px);
    }
    &:nth-child(2) {
      display: inline-block;
      @include typo(18px, 600, 24px);
      margin-left: 6px;
      transform: translateY(-14px);
    }
  }

  &__wrap {
    &:hover {
      text-decoration: none;
    }
  }
}