$first-ratio: 486 / 1312;
$second-ratio: 206 / 1312;
$container-width: 1312px;
$container: 100vw;
$first-col: (644 / 1312) * 100%;

.products-container {
  /* Grid of products*/
  &__products-grid {
    display: grid;
    grid-template-columns: $first-col 0.5fr 0.5fr;
    grid-column-gap: 24px;
    grid-row-gap: 43px;
    margin-top: 64px;
    margin-bottom: 34px;

    &__item {
      img {
        height: 100%;
        object-fit: cover;
      }

      &:first-child {
        grid-row: 1 / span 2;
      }

      /* Handle responsive image in product grid keep ratio*/

      // Desktop screen
      @include mediaQueryMin($screenXLarge) {
        &:first-child {
          height: ($container-width) * $first-ratio;
        }
        &:not(:first-child) {
          height: ($container-width) * $second-ratio;
        }

        &:nth-child(2n),
        &:nth-child(3) {
          align-self: start;
        }

        &:nth-child(4),
        &:nth-child(5) {
          align-self: end;
        }
      }

      @include mediaQuery($screenMedium, $screenXLarge) {
        &:first-child {
          height: ($container * $first-ratio);
        }
        &:not(:first-child) {
          height: ($container) * $second-ratio;
        }

        &:nth-child(2),
        &:nth-child(3) {
          align-self: start;
        }

        &:nth-child(4),
        &:nth-child(5) {
          align-self: end;
        }
      }

      // Ipad screen
      @include mediaQuery($screenExtraSmall, $screenMedium) {
        height: calc((50vw - 32px) * (205 / 310));
      }

      // Mobile screen
      @include mediaQueryMax($screenExtraSmall) {
        height: calc((100vw - 32px) * (205 / 310));
      }
    }

    /* Handle responsive grid layout of products */
    @include mediaQueryMax($screenMedium) {
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 65px;
      margin-top: 25px;

      &__item {
        &:first-child {
          grid-row: auto;
        }
      }
    }

    @include mediaQueryMax($screenExtraSmall) {
      grid-template-columns: repeat(1, 1fr);
      grid-row-gap: 43px;
    }
  }

  /*  View more button*/
  &__more {
    padding-top: 34px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;

    a {
      transition: all linear 0.2s;

      &:hover {
        color: $primaryColor;
      }
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}
