$first-ratio: 486 / 1312;
$second-ratio: 206 / 1312;
$container-width: 1312px;
$container: 100vw;
$first-col: (644 / 1312) * 100%;

.products-container {
  /* Grid of products*/
  &__products-grid {
    display: grid;
    grid-template-columns: $first-col auto auto;
    grid-column-gap: 24px;
    grid-row-gap: 43px;
    margin-top: 64px;
    margin-bottom: 34px;

    &__item {
      img {
        height: 100%;
      }

      &:first-child {
        grid-row: 1 / span 2;
      }

      /* Handle responsive image in product grid keep ratio*/
      @media screen and (min-width: 1440px) {
        &:first-child {
          height: ($container-width) * $first-ratio;
        }
        &:not(:first-child) {
          height: ($container-width) * $second-ratio;
        }

        &:nth-child(2n),
        &:nth-child(3) {
          align-self: start;
        }

        &:nth-child(4),
        &:nth-child(5) {
          align-self: end;
        }
      }

      @media screen and (min-width: $screenMedium) and (max-width: 1440px) {
        &:first-child {
          height: ($container * $first-ratio);
        }
        &:not(:first-child) {
          height: ($container) * $second-ratio;
        }

        &:nth-child(2),
        &:nth-child(3) {
          align-self: start;
        }

        &:nth-child(4),
        &:nth-child(5) {
          align-self: end;
        }
      }

      @media screen and (max-width: $screenMedium) {
        &:first-child {
          height: $container * $second-ratio * 2;
        }
        &:not(:first-child) {
          height: $container * $second-ratio * 2;
        }
      }

      @media screen and (max-width: $screenExtraSmall) {
        &:first-child {
          height: $container * $second-ratio * 3;
        }
        &:not(:first-child) {
          height: $container * $second-ratio * 3;
        }
      }
    }

    /* Handle responsive grid layout of products */
    // @media screen and (max-width: $screenMedium) {
    //   grid-template-columns: repeat(2, 1fr);
    //   &__item {
    //     &:first-child {
    //       grid-row: auto;
    //     }
    //   }
    // }

    @media screen and (max-width: $screenMedium) {
      grid-template-columns: repeat(2, 1fr);
      &__item {
        &:first-child {
          grid-row: auto;
        }
      }
    }

    @media screen and (max-width: $screenExtraSmall) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  /*  View more button*/
  &__more {
    padding-top: 34px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    &:hover {
      color: $primaryColor;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}
