.button {
  padding: 10px 27px;
  font-size: 14px;
  line-height: 16px;
  box-shadow: none;
  border: 0;

  &--filled {
    background-color: $primaryColor;
    color: $NeutralWhite;
  }

  &--outline {
    background-color: transparent;
    color: $NeutralBlack;
  }

  &--bordered {
    border-radius: 4px;
  }
}
