.landing {
  position: relative;
  height: 100vh;
  overflow: hidden;

&-header {
    display: flex;
    align-items: center;
    padding: 40px 0 0 64px;
    position: absolute;
    width: 98%;
    z-index: 2;

    &__title {
      color: $primaryColor;
      text-transform: uppercase;
      margin-left: 28px;
      letter-spacing: 2px;
    }

    &__background {
      background-color: #1F1E1D;
    }
}

&-transition {
    height: 100%;
  }

  &-wrap {
    height: 100%;
  }

  &-nav {
    position: absolute;
    top: 40px;
    right: 22px;
    z-index: 3;
    width: 95px;
    height: 100%;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 2px;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
    
    a {
      color: $NeutralWhite;
      display: block;
      text-decoration: none;
      -webkit-transition: all .5s ease-in;
      transition: all .5s ease-in;
      
      &:last-child {
        margin-bottom: unset;
      }
    }

    &__title {
      letter-spacing: 2px;
      margin-bottom: 24px;
      writing-mode: vertical-lr;
    }

    &__active {
      color: $primaryColor !important;
      writing-mode: unset;
      height: 34px;
      position: relative;
    
      &::after {
        content: url('/static/svg/dot-red.svg');
        position: absolute;
        right: 47%;
        bottom: -6px;
      }
    }
  }

  &-scroll {
    position: fixed;
    text-align: center;
    width: 32px;
    height: 90px;
    top: calc(100vh - 122px);
    right: 52px;

    &__text {
      font-size: 14px;
      line-height: 17px;
      margin-top: 20px;
      letter-spacing: 2px;
      text-transform: uppercase;
      transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
    }
  }
}