.mobile-lab {
  position: relative;
  overflow-x: hidden;

  &__header {
      position: relative;

      &--title {
          padding: 16px 0 0 16px
      }

      &--banner {
        margin: 18% 0 0 5%;
      }
  }

  &__wrap {
    margin: 24px 0;
    padding: 24px 16px 0;
    border-top: 1px solid #474644;

    &--title {
      padding: 16px 0 8px;
      line-height: 32px;
    }

    &--description {
      padding-bottom: 8px;
      white-space: pre-line;
    }

    &--list {
      ul {
        padding-left: 24px;
      }
    }
  }

  &__background {
      position: absolute;
      top: -187px;
      right: -257px;
      z-index: -1;
      opacity: 0.2;

      img {
          width: 600px;
          height: 600px;
      }
  }
}