.work-navigation {
  display: flex;
  justify-content: center;
  border-bottom: solid 1px $LightGray;
  margin-top: 54px;

  @media screen and (max-width: $screenSmall) {
    flex-direction: column;
    margin-top: 34px;
  }

  &__title {
    margin: 8px 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 54px;
    text-transform: capitalize;
    color: $content-tertiary;
  }

  &__container {
    display: flex;
    align-items: stretch;
    margin: 0 auto;

    &__item {
      color: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      margin-right: 21.54px;
      position: relative;

      span {
        text-transform: uppercase;
        color: $content-tertiary;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        margin: 12px 0px;
      }

      &--active {
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          // display: none;
          display: block;
          height: 3px;
          background: $primaryColor;
          width: 100%;
        }

        span {
          color: $primaryColor;
        }
      }

      &:hover {
        text-decoration: none;
      }
    }
  }
}
