.work-nav {
  height: 64px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: stretch;

  &__wrap {
    position: relative;
    border-bottom: solid 1px $LightGray;
  }

  &__title {
    @include typo(40px, 700, 54px);
    text-transform: capitalize;

    @include mediaQueryMin($screenSmall) {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__item {
    position: relative;
    margin: 0 12px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s;
    @include text-style(16px, 600, 24px, $content-tertiary);

    &:hover, &--active {
      color: $primaryColor;
      text-decoration: none;
    }
  }

  >.tab-indicator {
    position: absolute;
    flex-shrink: 0;
    width: 0px;
    height: 1px;
    left: 0;
    bottom: -1px;
    background-color: $primaryColor;
    transition: all 0.2s;
  }
}
