.blockchain-lab {
  height: 100vh;
  width: 100%;
  overflow: auto;
  
	&-main {
    max-width: $screenXLarge + 30;
		margin: 0 auto;
		padding: 0 15px;
	}

  &-background {
    display: grid;
    place-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
    img {
      opacity: 0.3;
      max-width: 100%;
    }
  }

  &-hero {
    padding: 107px 110px 60px 64px;
    display: flex;
    align-items: center;
    gap: 0 24px;
    
    &-image {
      img {
        max-width: 100%;
        object-fit: cover;
      }
    }

    &-heading {
      max-width: 709px;
      min-width: 709px;
    }
  }

  &-feature {
    display: grid;
    border: 1px solid $darkLighter;

    &:not(:first-child) {
      border-bottom: none;
    }

    .blockchain-lab-feature-item {
      padding: 40px 40px 44px 61px;
      p {
        margin-bottom: 0;
      }
      ul {
        margin-top: 8px;
        padding-left: 25px;
      }
    }

    &.col-first {
      grid-template-columns: 0.575fr 0.425fr;

      .blockchain-lab-feature-item:last-child {
        border-left: 1px solid $darkLighter;
        padding: 40px 127px 96px 40px;
      }
    }

    &.col-second{
      grid-template-columns: 0.41fr 0.59fr;
      .blockchain-lab-feature-item:last-child {
        border-left: 1px solid $darkLighter;
        padding: 40px 127px 96px 40px;
      }
    }

    &.col-third{
      .blockchain-lab-feature-item:last-child {
        padding: 40px 485px 69px 64px;
        
        p {
          max-width: 891px;
        }
      }
    }
	}
}

@include mediaQueryMax($screenSmall + 1) {
  .blockchain-lab {
  
    &-hero {
      &-heading {
        max-width: inherit;
        min-width: inherit;
        font-size: 48px;
      }
    }
  
    &-feature {
      &:not(:first-child) {
        border-top: 1px solid $darkLighter;
        border-bottom: inherit;
      }

      &.col-first {
        grid-template-columns: 1fr;
  
        .blockchain-lab-feature-item:last-child {
          border-left: none;
          border-top: 1px solid $darkLighter;;
        }
      }
  
      &.col-second{
        grid-template-columns: 1fr;
        .blockchain-lab-feature-item:last-child {
          border-left: none;
          border-top: 1px solid $darkLighter;;
        }
      }
  
      &.col-third{
        .blockchain-lab-feature-item:last-child {
          padding-right: 127px;
          
          p {
            max-width: 100%;
          }
        }
      }
    }
  }
}