.wrapper {
  position: relative;
  margin-top: 49px;
}

.work-layout {
  margin-top: 54px;

  &__body {
    min-height: 66vh;
    margin-top: 48px;
    overflow: hidden;
  }

  .work-slider {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    > * {
      width: 100%;
    }
  }

  .slider-enter {
    flex-basis: 100%;
    flex-shrink: 0;
    transform: translateX(100vw);
    opacity: 0;
  }

  .slider-enter-active {
    transform: translateX(0%);
    transition: transform .8s, opacity .8s;
    opacity: 1;
  }

  .slider-exit {
    flex-basis: 100%;
    flex-shrink: 0;
    transform: translateX(-100%);
    opacity: 1;
  }

  .slider-exit-active {
    transform: translateX(calc(-100% + -100vw));
    transition: transform .8s, opacity .8s;
    opacity: 0;
  }
}
