.cursor-dot,
.cursor-dot-outline {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  opacity: 1;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  z-index: 900;
}

.cursor-dot{
  width: 6px;
  height: 6px;
  background-color: $primaryColor;
  z-index: 901;
}

.cursor-dot-outline {
  width: 40px;
  height: 40px;
  border: 1px solid $darkLighter;
}