.type-of-client {
  a {
    color: $content-tertiary;
    text-decoration: none;
  }
  .item {
    cursor: pointer;

    &:hover {
      .name {
        text-decoration: underline;
      }
    }
    .image {
      width: 100%;
      margin-top: 16px;
    }

    .title {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      .title-left {
        display: flex;
      }
      font-size: 28px;
      font-weight: 600;
      text-transform: capitalize;
      line-height: 44px;
      margin-top: 49px;
    }

    .count {
      font-size: 18px;
      position: relative;
      padding: 0px 6px;
      top: -8px;
    }
  }
}
