.type-of-client {
  margin-top: -32px;
  a {
    margin-top: 32px;
    color: $content-tertiary;
    text-decoration: none;
  }

  &__item {
    cursor: pointer;

    &:hover {
      &__name {
        text-decoration: underline;
      }
    }

    &__image {
      width: 100%;
      // margin-top: 16px;
      // padding-top: 16px;
      padding: 16px 12px 0 12px;
      // height: 279px;
    }

    &__title {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      font-size: 28px;
      font-weight: 600;
      text-transform: capitalize;
      line-height: 44px;

      &--left {
        display: flex;

        &__count {
          font-size: 18px;
          position: relative;
          padding: 0px 6px;
          top: -8px;
        }
      }
    }

  }
}
