.mobile-software__detail--content {
  position: relative;
  padding-top: 72px;

  &__title {
    padding-bottom: 16px;
  }

  &__block {
    padding: 24px 16px;
    border-bottom: 1px solid #474644;

    &:nth-child(3) {
      border-bottom: unset;
      padding-bottom: 0;
    }
  }

  &__images {
    padding: 32px 16px 0;
    margin-bottom: 8px;

    img {
      height: 180px;
      margin-bottom: 24px;
    }
  }

  &__footer {
    padding: 32px 16px 48px;
    border-top: 1px solid #474644;

    &--title {
      color: #E55436;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 8px;
    }

    &--link {
      display: flex;
      align-items: center;

      img {
        width: 16px;
        margin-left: 12px;
      }
    }
  }
}