#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 375px;
}

body {
  color: $content-tertiary;
  scroll-behavior: smooth;
}

// /* hide badge */
// .grecaptcha-badge {
//   visibility: collapse !important;
// }

.pointer {
  cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.not-allow,
.not-allowed {
  cursor: not-allowed;
}

.oneline-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// TODO: change class container to class container-wrapper in all page has container
.container-wrapper {
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/* Override class container of bootstrap */
@media screen and (min-width: 1440px) {
  .container-wrapper {
    max-width: 1342px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
}

.link {
  cursor: pointer;
  color: inherit;
}

.hide {
  display: none;
}
