.slick-track {
  margin: unset;
  display: flex;
  align-items: stretch;

  .slick-slide {
    > div {
      height: 100%;
      font-size: 0;
      line-height: 0;
    }
  }
}

.slick-slider {
  &:hover {
    .slick-arrow {
      opacity: 1;
    }
  }

  .slick-disabled {
    transition: all 0.3s;
    display: none !important;
  }

  .slick-arrow {
    opacity: 0;
    transition: all 0.3s;

    &.slick-prev {
      z-index: 1;
      left: 28px;
    }

    &.slick-next {
      z-index: 1;
      right: 28px;
    }

    @include mediaQueryMin($screenMedium) {
      display: none;
    }
  }
}
