.product-information {
  padding-top: 54px;

  &__content {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    grid-column-gap: 70px;
    grid-row-gap: 40px;

    & > :first-child {
      text-align: justify;
    }

    @include mediaQueryMax($screenSmall) {
      grid-template-columns: auto;
    }

    &__footer {
      display: flex;
      flex-wrap: wrap;

      &__item {
        flex: 0 0 50%;
        margin-top: 32px;

        & > :first-child {
          font-size: 16px;
          line-height: 24px;
          text-align: justify;
          color: $Gray64;
          font-weight: $regularWeight;
          margin-bottom: 7px;
        }

        &:not(:last-child) > :last-child {
          font-size: 16px;
          line-height: 24px;
          text-align: justify;
          color: $content-tertiary;
          font-weight: $semiBoldWeight;
        }
      }
    }
  }

  &__next {
    margin-top: 88px;
    margin-bottom: 26px;

    &__label {
      position: relative;
      font-weight: $semiBoldWeight;
      font-size: 20px;
      line-height: 24px;
      text-transform: uppercase;
      color: $primaryColor;
      margin-bottom: 32px;

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #E9E9E9;
        left: 0;
        bottom: -20px;
      }
    }
  }
}

.product-fade-exit {
  opacity: 1;
}

.product-fade-exit-active {
  .product-information__main {
    opacity: 0;
    transition: opacity .8s;
  }

  .product-information__next__header {
    transform: translateY(var(--offsetY));
    transition: transform .8s;
    background-color: white;
  }
}
