.product-informations {
  padding-top: 54px;

  &__content {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    grid-column-gap: 70px;
    grid-row-gap: 40px;

    & > :first-child {
      text-align: justify;
    }

    @include mediaQueryMax($screenSmall) {
      grid-template-columns: auto;
    }

    &__footer {
      display: flex;
      flex-wrap: wrap;

      &__item {
        flex: 0 0 50%;
        margin-top: 32px;

        & > :first-child {
          font-size: 16px;
          line-height: 24px;
          text-align: justify;
          color: $Gray64;
          font-weight: $regularWeight;
          margin-bottom: 7px;
        }

        &:not(:last-child) > :last-child {
          font-size: 16px;
          line-height: 24px;
          text-align: justify;
          color: $content-tertiary;
          font-weight: $semiBoldWeight;
        }
      }
    }
  }

  &__next {
    margin-top: 88px;
    margin-bottom: 26px;

    & > div:first-child {
      font-weight: $semiBoldWeight;
      font-size: 20px;
      line-height: 24px;
      text-transform: uppercase;
      color: $primaryColor;
    }
  }
}
