.product-information {
  padding-top: 54px;

  &__content {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    grid-column-gap: 70px;
    grid-row-gap: 40px;

    @include mediaQueryMax($screenMedium) {
      grid-column-gap: 50px;
    }

    @include mediaQueryMax($screenSmall) {
      grid-template-columns: auto;
    }

    &__left {
      text-align: justify;
    }

    &__right {
      grid-row: span 2;
    }

    &__footer {
      display: flex;
      flex-wrap: wrap;

      &.f-bottom {
        display: none;
      }

      @include mediaQueryMax($screenSmall) {
        &.f-left {
          display: none;
        }

        &.f-bottom {
          display: flex;
        }
      }

      &__item {
        flex: 0 0 50%;
        margin-top: 32px;

        & > :first-child {
          @include text-style(16px, $regularWeight, 24px, $Gray64);
          text-align: justify;
          margin-bottom: 7px;
        }

        &:not(:last-child) > :last-child {
          @include text-style(16px, $semiBoldWeight, 24px, $content-tertiary);
          text-align: justify;
        }
      }
    }
  }

  &__next {
    margin-top: 88px;
    margin-bottom: 26px;

    &__label {
      @include text-style(20px, $semiBoldWeight, 24px, $primaryColor);
      position: relative;
      text-transform: uppercase;
      margin-bottom: 32px;

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: $LightGray;
        left: 0;
        bottom: -20px;
      }
    }
  }
}

.product-fade-exit {
  opacity: 1;
}

.product-fade-exit-active {
  .product-information__main {
    opacity: 0;
    transition: opacity 0.8s;
  }

  .product-information__next__header {
    transform: translateY(var(--offsetY));
    transition: transform 0.8s;
    background-color: white;
  }
}
