.article-header {
  &__info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    align-items: baseline;

    &__title {
      display: flex;
      flex-direction: column;
      flex-basis: 40%;

      @include mediaQueryMax($screenSmall) {
        flex-basis: auto;
      }

      & > * {
        width: fit-content;
      }

      &__name {
        font-weight: $boldWeight;
        font-size: 40px;
        line-height: 54px;
        text-transform: capitalize;
        color: $content-tertiary;
      }

      &__type {
        margin-top: 24px;
        font-style: normal;
        font-weight: $semiBoldWeight;
        font-size: 16px;
        line-height: 24px;
        color: $Gray64;
      }
    }

    &__description {
      flex-basis: 60%;
      width: fit-content;
      @include typo(24px, $semiBoldWeight, 30px);
      @include mediaQueryMax($screenSmall) {
        flex-basis: auto;
      }
    }
  }

  &__banner {
    width: 100%;
    margin-bottom: 40px;

    img {
      width: 100%;
    }
  }
}
