
#footer {
  padding: 24px 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-weight: 100;

  @media (max-width: $screenSmall) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .footer-left {

    .address {
      padding: 8px 0px;
    }

    .contact {
      padding: 8px 0px;
    }
  }

  .footer-right {
    text-align: right;
    
    a {
      &:first-child {
        padding: 0px 32px;
      }
      @media (max-width: $screenSmall) {
        padding: 0px 12px !important;
      }

      cursor: pointer;
      text-decoration: none;
      color: $content-tertiary;
      transition: all 0.4s;

      &:hover {
        color: $primaryColor
      }
    }

    .social {
      @media (max-width: $screenSmall) {
        text-align: center;
      }
      padding: 8px 0px;
    }

    .policy {
      @media (max-width: $screenSmall) {
        text-align: center;
      }
      padding: 8px 0px;
    }
  }
}
