.software-detail__content {
  height: 100%;
  padding-top: 112px;
  
  &--left {
    width: 15%;
  }

  &--right {
    width: 58%;
  }

  &--background {
    display: flex;
    padding: 32px 64px;
    margin-top: 16px;
    border-bottom: 1px solid #474644;
  }

  &--brief {
    display: flex;
    padding: 32px 64px;
    border-bottom: 1px solid #474644;
    white-space: pre-line;
  }

  &--solution {
    display: flex;
    padding: 32px 64px;
  }

  &--images {
    padding: 32px 64px 0;
    margin-bottom: 64px;

    img {
      width: 50%;
      padding-right: 24px;
    }
  }

  &--footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 64px;
    border-top: 1px solid #474644;

    &__title {
      color: #E55436;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    &__link {
      display: flex;
      align-items: center;

      img {
        width: 48px;
        height: 38px;
        margin: 8px 0 0 40px;
      }
    }
  }

  &--bg__looper {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
}