.slider {
  position: relative;
  height: 100%;

  &__item {
    /* Hide the images by default */
    display: none;

    img {
      width: 100%;
    }

    /* Slider Informations (include title, description and more button) */
    &__informations {
      display: flex;
      flex-direction: column;
      justify-content: left;
      align-items: flex-start;
      position: absolute;
      left: 60px;
      bottom: 40px;
      width: 50%;

      @include mediaQueryMax($screenSmall) {
        // minus spacing 60px from 2 side
        width: calc(100% - 120px);
      }

      &__title {
        font-family: $primaryFont;
        font-weight: $boldWeight;
        font-size: 24px;
        line-height: 33px;
        color: $NeutralWhite;

        @include animation(fade-in 1.5s linear forwards);
      }

      &__description {
        font-family: $secondaryFont;
        font-size: 24px;
        line-height: 24px;
        color: $NeutralWhite;
        margin-top: 8px;

        @include animation(fade-in 1.5s linear forwards);

        @include mediaQueryMax($screenSmall) {
          display: none;
        }
      }

      button {
        font-family: $secondaryFont;
        font-weight: $regularWeight;
        font-style: normal;
        font-size: 14px;
        line-height: 16px;
        margin-top: 32px;

        @include mediaQueryMax($screenSmall) {
          display: none;
        }
      }
    }
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: auto;
    height: 100%;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    display: flex;
    align-items: center;

    & > span {
      opacity: 0;
      transition: all linear 0.2s;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.02);

      & > span {
        opacity: 1;
      }
    }

    @include mediaQueryMax($screenMedium) {
      & > span {
        opacity: 1;
        width: 25px;
        height: 25px;
      }
    }
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .active {
    display: block;
  }

  /* Fading animation */
  .fade-animation {
    -webkit-animation-name: fade-in;
    -webkit-animation-duration: 1.5s;
    animation-name: fade-in;
    animation-duration: 1.5s;
  }
}

/* Slide in animation */
.slide-in-animation {
  -webkit-animation-name: slide-in;
  -webkit-animation-duration: 0.5s;
  animation-name: slide-in;
  animation-duration: 0.5s;
}

/* Slide out animation */
.slide-out-animation {
  -webkit-animation-name: slide-out;
  -webkit-animation-duration: 0.5s;
  animation-name: slide-out;
  animation-duration: 0.5s;
}
