#main {
  flex: 1 1 auto;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  .main-fade-enter {
    opacity: 0;
  }
  .main-fade-enter-active {
    opacity: 1;
    transition: opacity .4s;
  }
  .main-fade-exit {
    opacity: 1;
  }
  .main-fade-exit-active {
    opacity: 0;
    transition: opacity .4s;
  }
}